<!-- Put your index html code here -->
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<script type="text/javascript" src="tool.js"></script>
	<script type="text/javascript">
		var listLength = <%= listLength %>;

		var refreshId = window.setInterval(function() {
			refresh();
		}, 2000);

		function setLength(choice) {
			listLength = choice;
		}

		function pause() {
			clearInterval(refreshId);
		}

		function resume() {
			var xhttp = new XMLHttpRequest();
			
			xhttp.onreadystatechange = function () {
				if(xhttp.readyState == XMLHttpRequest.DONE) {
					if(xhttp.status == 200) {
						document.open();
						document.write(xhttp.responseText);
						document.close();
					} else {
						alert("Unexpected server response // Refresh Issue")
					}
				}
			}
			xhttp.open("GET", "../?length=" + listLength, true);
			xhttp.send();
		}

		function refresh() {
			var xhttp = new XMLHttpRequest();
			
			xhttp.onreadystatechange = function () {
				if(xhttp.readyState == XMLHttpRequest.DONE) {
					if(xhttp.status == 200) {
						var loader = document.getElementById("loader");
						loader.innerHTML = xhttp.responseText;
					} else {
						alert("Unexpected server response // Refresh Issue")
					}
				}
			}
			xhttp.open("GET", "../dataLoader?length=" + listLength, true);
			xhttp.send();
		}
	</script>
	<title>Coding Project</title>
</head>

<body>
	<div id = "background-container"><!--Holds the background image for the site--></div>
	
	<div id = "sidebar">
    	<div class="container">
    	        <ul class="nav navbar-nav" id="colorful-nav">
    	            <div class = "list-wrap home"><li><span class="glyphicon"><h5 onclick="getRequest(1)">Home</h5></span></li></div>
    	            <div class = "list-wrap action"><li><span class="glyphicon"><h5 onclick="getRequest(2)">Trading Action</h5></span></li></div>
    	            <div class = "list-wrap about"><li><span class="glyphicon"><h5 onclick="getRequest(3)">About</h5></span></li></div>
    	        </ul>
    	</div>
	</div>

	<button id = "pauseButton" onclick="pause()">Pause</button>
	<button id = "resumeButton" onclick="resume()">Resume</button>

	<div id = "info">
		<div class = "header animated swing"><h2>BTCUSD</h2></div>
		<div class = "choice">
			<div><span>How many orders should we display at a time?</span></div>
			<button onclick="setLength(10)">10 orders</button>
			<button onclick="setLength(50)">50 orders</button>
			<button onclick="setLength(100)">100 orders</button>
			<button onclick="setLength(200)">200 orders</button>
		</div>
		<div><!--Empty Filler--></div>
		<div><!--Empty Filler--></div>
		<div><h4 class = "info-tile">Amount</h4></div>
		<div><h4 class = "info-tile">Price</h4></div>
		<div><h4 class = "info-tile">Value</h4></div>
		<div><h4 class = "info-tile">Timestamp</h4></div>
		<div><!--Empty Filler--></div>
		<div style = "min-height: 18em"><!--Empty Filler--></div>
		<div id = "loader"><%- include dataLoader.ejs %></div>
	</div>
</body>